@import "../../styles/variables";

.article {
    color: $gray-darker;
    line-height: 1.5;
}

.article__info {
    background-color: white;
    padding-bottom: 100px;
    text-align: center;

    .article__author {
        padding-top: 10px;
    }

    .article__date {
        padding-bottom: 10px; 
    }

    .article__banner {
        box-shadow: 0 2px 5px #cbcbcb;
    }
}

.article__text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 2px 5px #cbcbcb;
}

#tweet-tooltip {
	position: absolute;
	display: none;
}

::-moz-selection {
    background-color: $highlight-color;
    color: $white;
}

::selection {
    background-color: $highlight-color;
    color: $white;
}