@import "../../styles/variables";

.article {
    color: $gray-darker;
    line-height: 1.5;
    padding: 30px;
}

#tweet-tooltip {
	position: absolute;
	display: none;
}

::-moz-selection {
    background-color: $highlight-color;
    color: $white;
}

::selection {
    background-color: $highlight-color;
    color: $white;
}