@import "../../styles/variables";

.article-tiles {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px 30px;
}

.article-tiles__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.article-tiles__header {
    font-size: $large-font-size;
    font-weight: $bold-font-weight;
    color: $gray-dark;
    line-height: 30px;
    border-bottom: 1px solid $gray-light;
}
