@import "../../styles/variables";
@import "../../styles/mixins";

$more-btn-size: 50px;

.article-tile {
    width: 400px;
    margin: 15px;
}

.article-tile__thumbnail {
    width: 100%;
}

.article-tile__header {
    position: relative;
    background-color: #f5f5f5;
    padding: 25px;
    min-height: 50px;
    
    a {
        line-height: 1.3;
        font-size: 20px;
        color: #222222;
        text-decoration: none;
    }

    .article-tile__more-btn {
        width: $more-btn-size;
        height: $more-btn-size;
        line-height: $more-btn-size;
        background-color: $basic-yellow-clr;
        right: $more-btn-size/2;
        bottom: -$more-btn-size/2;
        color: $white;
        position: absolute;
        text-align: center;
        border-radius: 50%;
        font-family: Tahoma;
        @include basic-box-shadow;
        @include transition(box-shadow, 0.3s);

        &:hover {
            cursor: pointer;
            box-shadow: 0 6px 20px #afafaf;
        }
    }
}

.article-tile__footer {
    padding: 10px;
    border-top: 1px solid #DFDFDF;

    .article-tile__author, .article-tile__date {
        padding: 5px;
    }
}

.article-tile,
.article-tile__more-btn {
    @include basic-box-shadow;
    @include transition(box-shadow, 0.3s);

    &:hover {
        @include basic-box-shadow(0, 6px, 20px,#afafaf);
    }
}
