@import "../../styles/variables";
@import "../../styles/mixins";

.article {
    color: $gray-darker;
    line-height: 1.5;
}

.article__info {
    background-color: white;
    padding-bottom: 80px;
    text-align: center;

    .article__author {
        padding-top: 10px;
    }

    .article__date {
        padding-bottom: 10px; 
    }

    .article__banner-img {
        @include basic-box-shadow(small);
        max-width: 85%;
    }
}

.article__text {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 30px;
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: white;
    @include basic-box-shadow(small);
}

#tweet-tooltip {
	position: absolute;
	display: none;
}
