@mixin transition($property:transform, $duration:1s, $timing-fn:ease-out) {
    -webkit-transition: $property $duration $timing-fn;
       -moz-transition: $property $duration $timing-fn;
         -o-transition: $property $duration $timing-fn;
            transition: $property $duration $timing-fn;
}

@mixin selection($bckg-clr, $text-clr) {
    ::-moz-selection {
        background-color: $bckg-clr;
        color: $text-clr;
    }

    ::selection {
        background-color: $bckg-clr;
        color: $text-clr;
    }
}

@mixin basic-box-shadow($type:small) {
    @if $type == small {
        box-shadow: 0 2px 5px #cbcbcb;
    } @else if $type == large {
        box-shadow: 0 6px 20px #afafaf;
    } @else {
        box-shadow: 0 0 0 #fff;
    }
}
