@import "./variables";
@import "./mixins";

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: $basic-gray-clr;
}

// change text selection color
@include selection($highlight-color, $white);

#article-tiles-container,
#article-container {
	margin: 0 auto;	
}

#article-tiles-container {
	padding-top: $nav-height;
}

#navigation-container {
	position: fixed;
	z-index: 1000;
    left: 0;
    right: 0;
}