@import "../../styles/variables";

.nav__list {
	background-color: $basic-yellow-clr;
	list-style: none;
	display: flex;
	box-shadow: 0 0 10px $gray;
}

.nav__list-item {
	text-align: center;
	padding-right: 30px;

	>a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: $base-font-size;
		color: $gray-darker;
		font-weight: $bold-font-weight;
		line-height: $nav-height;
	}
}		

.nav__list-item--brand {
	flex-grow: 1;
	text-align: left;
	padding-left: 30px;
	>a {
		font-size: 24px;
	}
}